<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>
<%= link_to "edit name", edit_author_path(@author) %>

<table>
  <tr>
    <th>work</th>
    <th></th>
    <th></th>
  </tr>
<%= link_to "add new work under #{@author.name}", new_work_path(author: @author) %>
  <% @author.works.each do |work| %>
    <tr>
      <td><%= work.name %></td>
      <td><%= link_to "edit", edit_work_path(work) %></td>
    </tr>
  <% end %>
</table>

<%= link_to "back to list of authors", authors_path %>