<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>

<table>
  <tr>
    <th>work</th>
    <th></th>
    <th></th>
  </tr>

<%= link_to 'add work', new_work_path(author: @author) %>
  <% @author.works.each do |work| %>
    <tr>
      <td><%= work.name %></td>
      <td><%= link_to "edit", edit_work_path(work) %></td>
    </tr>
  <% end %>
</table>

<%= link_to "authors", authors_path %>