<h1>glass.gardens</h1>

<%= link_to "list of authors", authors_path %>
<%= link_to "create a new garden", new_garden_path %>

<table>
  <tr>
    <th>garden</th>
    <th>authors</th>
    <th></th>
    <th></th>
  </tr>

  <% @gardens.each do |garden| %>
    <tr>
      <td><%= garden.name %></td>
      <td><%= garden.author_names %></td>
      <td><%= link_to "walk in the garden", garden_path(garden) %></td>
      <td><%= link_to "edit", edit_garden_path(garden) %></td>
    </tr>
  <% end %>
</table>