<p>
  <strong>Name:</strong>
  <%= @garden.name %>
</p>

<p>
  <strong>Authors:</strong>
  <%= @garden.author_names %>
</p>

<p>
  <strong>Walk:</strong>
  <%= @walk %>
</p>

<%= link_to "modify this garden", edit_garden_path(@garden) %>
<%= link_to "take another walk", garden_path(@garden) %>
<%= link_to "back to list of gardens", gardens_path %>