<div id="main-container" class="container">
  <div class="row">
    <div class="col-xs-5">
      <strong>Name:</strong>
      <%= @garden.name %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-5">
      <strong>Authors:</strong>
      <%= @garden.author_names %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-5">
        <%= @walk %>
    </div>
  </div>

  <%= link_to "modify this garden", edit_garden_path(@garden) %>
  <%= link_to "take another walk", garden_path(@garden) %>

</div>